{% extends 'teacher/teacher_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Course & Subject{% endblock title %}


{% block content %}
<center> 
    
    <div style=" width: 80%; border: 10px outset rgb(168, 170, 168); border-radius: 10px; margin: 100px;">
        
    <div style="background: linear-gradient(to bottom, #fffccc 0%, #32f3a3 100%);  border-radius: 0px;">
        
        <h1> Add New Course</h1>
        <br>
        <form method="POST"  style="text-align: center;">
                       
        {% csrf_token %}
     
            {{form.course_name|as_crispy_field}}<br>
    
            <br><center><button type='sumbit' class="btn btn-success btn-sm m-2">CONFIRM</button></center>
            <br><br>
        </form>
    </div>
    </div>
</center> 


{% endblock content %}